{% extends "base.html"%}

{% block content %}
<div class="container" id="about_us">
    <div class="titles">
        <h1>
         МАРШРУТЫ
        </h1>
         <h2>
         для ваших путешествий
         </h2>
     </div>
    <div class="img">
        <img src="/static/images/Gnezdo.jpg" alt="Cremea" id="about_us_img">
    </div>
    <div class="info">
        <h4>
            Поход по горному Крыму
        </h4>
        Крым — это не только ласковые пляжи, комфортабельные курорты и санатории.
        Стоит лишь немного отойти от прибрежных трасс вглубь полуострова, и вас встретит другой, неизведанный мир, полный приключений.  
    <ul>
    <li>Тропы, петляющие в невысоких горах меж густых лиственных лесов;</li>
    <li>Дороги, стелящиеся по величественным долинам;</li>
    <li>Истории, передаваемые из поколения в поколеиня местными жителями</li>
    </ul> Природа создала здесь нерукотворный парк активного отдыха с бесконечным многообразием маршрутов. 
    </div>
</div>

{% endblock %}